@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap');
body {
    margin: 0px;
    font-family: 'Poppins';

}
.parentDiv {
display: flex;
justify-content: space-between;
align-items: center;
text-align: center;
    height: 100vh;
    margin-right: 30px;
    margin-left: 30px;

}

.childDiv1 {
    margin-left: 30px;
    width: 100vh;
    height: auto;
    text-align: left;
    color: white;
}
.childDiv1 h1{
    font-size: 55px;
    font-weight: bold;
    color: white;
    margin-top: 0;
}
.childDiv1 p {
    margin-top: -30px;
    font-weight: 300;
    font-size: 25px;
}

.ourCustomerBtn {
    padding: 10px 20px 10px 20px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 300;
    transition: 250ms ease-in-out;
}
button {
    padding: 10px 20px 10px 20px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 300;
    transition: 250ms ease-in-out;
}

.ourAboutBtn{
    padding: 10px 20px 10px 20px;
    border: 1px solid #DE306B;
    background-color: #DE306B;
    color: white;
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 300;
    transition: 250ms ease-in-out;
    margin-left: 16px;
    pointer: cursor;
}

.ourAboutBtn:hover {
    transform: scale(1.12);
}
.ourCustomerBtn:hover {
    transform: scale(1.12);
    pointer: cursor;
}
.childDiv2 {
    color: white;
    font-weight: 300;
    background-color: rgba(8, 169, 186, 0.62);
    box-shadow: 1px 1px 20px 5px rgba(255, 255, 255, 0.34);
    padding: 15px;
    margin: 10px;
    width: auto;
    height: 50vh;
}

.childDiv2 table {
text-align: left;
color: white;
    border-collapse: collapse;
    padding-top: 6px;
    padding-bottom: 6px;
}
table th {
text-align: left;
padding-right: 20px;
padding-left: 5px;
padding-top: 5px;

}

.table td {

}
tr {
    border-bottom: 1pt solid white;
}
.arrowImg {
    position: absolute;
    left: 580px;
    transform: rotate(75deg);
    bottom: 350px;
}
.arrowPic {
    width: 260px;
    height: 260px;
}
.demoText {
    font-size: 18px !important;
    text-space: 3px;
    font-weight: 200 !important;
    color: white !important;
    margin: 0px !important;
}
.adminBtn {
    background-color: #08a9ba;
    margin-left: 16px;
    border: 1px solid #08a9ba ;
    transition: 250ms ease-in-out;

}
.adminBtn:hover {
    transform: scale(1.12);
    pointer: cursor;
}

.magicText {
    font-size: 30px;
    position: absolute;
    left: 800px;
    bottom: 350px;
}
.logoutBtn {
    float: right;
    padding: 5px 10px 5px 10px;
    background-color: white;
    color: #181439;
    font-size: 20px;
    font-family: 'Poppins';
    margin-top: 10px;
    margin-right: 10px;
    position:absolute;
    top:0;
    right: 5px;
    transition: 250ms ease-in-out;
}
.logoutBtn:hover {
    transform: scale(1.2);
    background-color: #08a9ba;
    color: white;
}