@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap');

body {
    font-family: 'Poppins';
    background-color: #181439;
}

childDiv1 h1 {
    font-size: 25px;
    margin: 0px;
}
childDiv1 p {
font-size: 17px;
}

.parentDiv {
display: flex;
justify-content: center;
align-items: center;
text-align: center;
height: 100vh;
margin-right: 30px;
margin-left: 30px;
}
.childDiv1 {
    width: 100vh;
    height: auto;
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
    background-color: #08a9ba;
    padding: 30px;
}
.formController {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.formController label {
 font-size: 20px;
    text-align: left;

}

.inputtype {
    width: 95%;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid white;
    font-family: 'poppins';
    margin-bottom: 10px;
}
.inputtype:focus {
    border: 0px;
    border-radius: 0px;
}
.inputBtn {
    font-family: 'Poppins';
    background-color: #DE306B;
    color: white;
    width: 100%;
    padding: 10px;
    border: none;
    transition: 250ms ease-in;
    font-size: 17px;

}

.inputBtn:hover {
    background-color: #181439;
    color: white;
}

.ifparameters {
    font-size: 17px;
    color: #181439;
}
.breadcrumb {
    font-size: 25px;
}
.breadcrumb a {
    color: #DE306B;
    text-decoration: none;
    transition: 250ms ease-in;
}

.breadcrumb a:hover {
    color: #181439;
}