<!DOCTYPE html>
<html lang = "en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Employee system</title>
    <link th:href="@{/cssAndJs/customer.css}" rel="stylesheet" />
</head>
<body th:style="'background: url(/cssAndJs/images/bckg1.png) no-repeat center center fixed;'">
<div>
</div>
<div class = "parentDiv">
    <div class ="arrowImg"> <img class ="arrowPic" th:src="@{/cssAndJs/images/arrow.png}"/></div>
    <div class = "childDiv1">
        <p class = "demoText"> This is a demo, sign up to rock-up your own customers.</p>
        <h1>Lets Rock-up your customers!</h1>
        <p>The best customer system in space</p>

            <a th:href="@{/saveform}"><button  class ="ourCustomerBtn" >Lets Rock-employee</button></a>
            <a th:href="@{/aboutUs}"><button class = "ourAboutBtn" > About us </button></a>
        <a th:href="@{/edit}" sec:authorize="hasRole('ROLE_ADMIN')">
            <button class ="adminBtn">Edit customers</button>
        </a>

        <div class ="magicText" th:switch="${#authentication}? ${#authorization.expression('isAuthenticated()')} : ${false}">
            <span th:case="${false}">Login and see the magic appear</span>
            <span th:case="${true}"></span>
            <span th:case="*">Should never happen, but who knows...</span>
        </div>

    </div>
    <div  class = "childDiv2" sec:authorize="isAuthenticated()" >
        <div  >
        <table >
            <thead>
            <tr>
                <th> Id</th>
                <th> Firstname</th>
                <th> Lastname</th>
                <th> Age</th>
                <th> Email</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="customer : ${getAllCustomer}">
                <td th:text="${customer.id}"></td>
                <td th:text="${customer.firstname}"></td>
                <td th:text="${customer.lastname}"></td>
                <td th:text="${customer.age}"></td>
                <td th:text="${customer.email}"></td>
                </td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
    <a th:href="@{/logout}"><button sec:authorize="isAuthenticated()" class = "logoutBtn" > Logout </button></a>

</div>

</body>
</html>