<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<link th:href="@{/cssAndJs/login.css}" rel="stylesheet" />
<head>
  <title>Employe system - Login </title>
</head>
<body>
<div class = "parentDiv">
 <div class = "childDiv1">
     <p class = "breadcrumb"><a th:href="@{/home}">Home</a> / Login page</p>
    <h1>You are one step closer</h1>
   <p> Please log in to acess a new paradise</p>
    <div class = "ifparameters"th:if="${param.error}"> Invalid username and password. </div>
    <div class = "ifparameters" th:if="${param.logout}"> You have been logged out. </div>

<div class ="formController">
<form th:action="@{/login}" method="post">
    <div><label class = "inputlabel"> User Name : </label></div>
    <div><input class ="inputtype"type="text" name="username" placeholder="Enter your name"/></div>

    <div><label> Password: </label></div>
    <div> <input class ="inputtype" type="password" name="password" placeholder="Enter your password"/></div>

    <div><input class ="inputBtn" type="submit" value="Sign In"/></div>
</form>
</div>
 </div>
</div>
</body>
</html>

