<!DOCTYPE html>
<html lang = "en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee system - Updating customer</title>
    <link th:href="@{/cssAndJs/updateCustomer.css}" rel="stylesheet" />

</head>
<body>
<div class = "ParentDiv">
    <div class = "childDiv">
        <p class = "breadcrumb"> <a  th:href="@{/home}">Home</a>/ Editing a customer </p>
        <h1>Update your Customer</h1>
        <hr>
        <h2> Below you find the user you'r currently updating</h2>
        <form class = "userBuilder" action="#" th:action="@{/save}" th:object="${customer}"
              , method="POST" >

            <!-- Add hidden form field to handle update -->
            <input type ="hidden" th:field="*{id}">
            <input type="text" th:field ="*{firstname}"
                   placeholder="Customer First Name" required>

            <input type="text" th:field ="*{lastname}"
                   placeholder="Customer Last Name" required>

            <input type="number" th:field ="*{age}"
                   placerholder ="Customer Age" required min="1" max="100">

            <input type="email" th:field ="*{email}"
                   placeholder="Customer email" required>
            <div class = "buttongroup">
                <button class = "saveBtn" type="submit">Save employee</button>
            </div>
        </form>

    </div>
</div>
</body>
</html>